header{
    height: 100vh;
    padding-top:1rem;
    overflow: hidden;
    
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.dp{
    border-radius:8rem 3rem;
    transition: var(--transition);
}
.dp:hover{
    transform: rotate(10deg);
}
.cta{
   margin-top: 2.5rem;
   display: flex;
   gap: 1.2rem;
   justify-content: center;
}
.header__socials{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:0.8rem;
   position: absolute;
   left:0;
   bottom:0rem;
}
.header__socials::after{
    content:"";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
.me{
    background: linear-gradient(var(--color-primary),transparent);
    margin-top: 2rem;
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: 34%;
    border-radius:12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}
.scroll__down{
     position: absolute;
     right: -2rem;
     bottom: 3rem;
     transform: rotate(90deg);
     font-weight: 300;
     font-size: 0.9rem;
}
@media screen and (max-width:1024px){

.header__container{
    width: var(--container-width-md);
}
.me{
    left:25%;
}
}
@media screen and (max-width:600px){
   
    .header__container{
        width: var(--container-width-sm);
    }
    
    .me{
        left: 10%;
        width: 80%;
    }
    .dp{
        border-radius:8rem 3rem 0 0
    }
}